{% block nav %}

           <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                                
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                               {% if page is defined %}
                                  {% for item in navitem   %}
                                          <li> <a href="/{{item}}" alt="{{item}}" >{{ item | capitalize}}</a></li>       
                                  {% endfor %}
                                {% endif %}  
                            </ul>  
                         
                        </div>
                </div>        
          </nav>

{% endblock nav %}    