{% extends 'base.html.twig' %}

{% block body %}

  {% block Mentions_Légales %}
  
       <div id="maincontainer" class='container'>
          
           <div class="page-{{page}}">
   <h2>{{page|capitalize}}</h2>    

<h1 class="d-flex justify-content-center mb-5">{% block title %}Mentions Légales{% endblock %}</h1>
<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site garageparot.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
<h2>Edition du site</h2>  

<p>Le site http://garageparot.com est édité par Mr Hamon, société par actions simplifiée au capital de 111 111 €, dont le siège social est situé Boulevard de la Liberté, 35000 Rennes, immatriculée au Registre du Commerce et des Sociétés de Rennes sous le numéro 800 000 000.</p>

<h2>Responsable de publication</h2> 

<p>Mr Hamon</p>
<p>Nous contacter :</p> 

<p>    Par email : contact@garageparot.xyz</p>     


<h2>Hébergeur</h2>

<p>Le site garageparot.com est hébergé par la société OVH</p>

<p>SAS au capital de 10 174 560 €</p>

<p>RCS Lille Métropole 424 761 419 00045</p>
<p>Code APE 2620Z</p>
<p>N° TVA : FR 22 424 761 419</p>
<p>Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
 
<p>Président : Michel Paulin</p>
<p>OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.</p>
</p>

<h2>Droit d'auteur / Copyright</h2>

<p>La présentation et chacun des éléments textes, dessins, illustrations, photographies et autres fichiers apparaissant sur le présent site sont protégés par 
les lois en vigeur sur la propriété intellectuelle et le RGPD.</p>
<p>Toute reproduction totale ou  partielle est strictement interdite sans autorisation préalable des ayant droits.</p>
<p>L'utilisation à des fins commerciales du contenu de ce site est expressément interdite</p>        

<h2>Projet Pédagogique</h2>  
<p>Ce site à été réalisé dans le cadre d'une formation réalisée sous l'expertise de l'établissement Studi.</p>
<p>STUDI : Siège social : 3 allée des internautes - 02200 Soissons | Etablissement de Montpellier : 625 avenue Robert Malthius -34470 Péroles
SAS au capital de 20 300 000 € | SIRET : 838 542 819 00027 | RCS Soissons 838 542 819
N° déclaration d'activité 32 02 01372 02 ( Préfecture de la région Hauts de France ) | UAI : n° 0022193Y déclaré auprès du Rectorat d'Amiens</p>
<p>Malgré l'attention allouée à la conception de ce site, il peut subsister un certain nombre d'erreurs et de bugs éventuels.</p>
       
<h2>Responsabilité</h2>    
<p>L'ensemble des informations accessibles via ce site sont fournies en l'état. Mr Hamon ne donne aucune garantie, explicite ou implicite, et n'assume
aucune responsabilité relative à l'utilisation de ces informations.</p>     
<p>L'utilisateur est le seul responsable de l'utilisation de telles informations.</p>  
<p>Mr Hamon se réserve le droit de modifier à tout moment les présentes mentions et notamment en actualisant le site.</p>
<p>L'utilisateur s'engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s'engage à ce titre à 
ne pas divulguer via ce site des information illégales, contraires à l'ordre public ou diffamatoires. </p>
<p>Les sites extérieurs ayant un lien hypertexte avec le présent site ne sont pas sous contrôle d'Mr Hamon. Par conséquent nulle responsabilité ne peut
être retenue envers votre serviteur.</p>

<h2>Cookies</h2>
<p>Le site le Quai Antique fait usage de Cookies à des fins strictement technique. Nulle information personnelle n'est conservée de la sorte.</p>
</div>

<h2>Conservation de Données</h2>
<p>Le site du quai antique utilise une base de donnée et peut recueillir des informations personnelles que ce soit lors de l'inscription
en tant qu'utilisateur ou lors de la transmission d'information via un certain nombre de formulaires ou l'envoie d' email. S'agissant d'un projet pédagogique, 
je ne ferai pas de déclaration à la CNIL pour l'instant.</p>
 
{% endblock %}
 
{% endblock %}
  
  
  
